# WordPress
WP_STAGING_URL=https://brindayogacstg.wpenginepowered.com
WP_USERNAME=admin
WP_APP_PASSWORD=

# WP Engine API
WPENGINE_INSTALL_ID=brindayogacstg
WPENGINE_API_USER=
WPENGINE_API_PASSWORD=

# SSH / WP CLI
WPENGINE_SSH_HOST=brindayogacstg.ssh.wpengine.net
WPENGINE_SSH_USER=brindayogacstg
SSH_PRIVATE_KEY=

# Bitbucket
BITBUCKET_USERNAME=manan@commercepundit.com
ATLASSIAN_API_TOKEN=
CHILD_THEME_REPO=git@bitbucket.org:cp-jira/brindayoga.git
CHILD_THEME_NAME=vihara-child
CHILD_THEME_BRANCH=master
WPENGINE_GIT_REMOTE=git@git.wpengine.com:brindayogacstg.git

# Jira
JIRA_BASE_URL=https://cp-jira.atlassian.net
ATLASSIAN_EMAIL=manan@commercepundit.com
JIRA_AGENT_ACCOUNT_ID=557058:6ce3d32b-c01a-4232-9157-69867b085e59
JIRA_PROJECT_KEY=BRIN

# OpenAI
OPENAI_API_KEY=

# Agent security
AGENT_API_KEY=

# Server
PORT=3000
